<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Inclusion de boostrap css-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Inclusion de Bootstrap Icons CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
    <h1>EcoTri</h1>
    <p>Tri Intelligente des Déchets</p>
</header>
<main>
    <section class="upload-section">
        <h2>Uploader une image de déchet</h2>
        <input type="file" id="imageInput">
        <button onclick="uploadImage()">Classer le déchet</button>
    </section>
    <section class="result-section" id="resultSection">
        <h3>Résultat de la classification :</h3>
        <p id="resultText"></p>
    </section>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/js/scripts.js"></script>
</body>
</html>
