body {
    background-color: #f4f4f4;
}

header h1 {
    color: #333;
}

.form-inline .form-control {
    margin-right: 10px;
}

.table thead th {
    background-color: #1E2A38;
    color: #fff;
}

.table thead th.text-center {
    text-align: center;
}

.font-weight-bold {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.navbar .navbar-brand img {
    width: 50px;
    height: 50px;
}

.custom-navbar {
    background-color: #1E2A38;
}

.custom-navbar .navbar-nav {
    margin-left: 0;
}

.bg-footer {
    background-color: #1E2A38;
}

footer h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .mt-3 a {
    color: white;
    font-size: 1.5rem;
}
