body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    height: 220px;
}

main {
    padding: 2rem;
}

.upload-section {
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    background-color: white;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-section input {
    margin-bottom: 1rem;
    display: block;
    margin: 0 auto;
}

.upload-section button {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.upload-section button:hover {
    background-color: #45a049;
}

.result-section {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #e7ffe7;
    border: 1px solid #4CAF50;
    display: none;
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.trash-icon {
    width: 50px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
}

